#name {
  font-family: system-ui;
  text-align: center;
}
#Oneplus_Logo {
  width: 500px;
  height: 250px;
  float: left;
}
#Apple_logo{
  width: 200px;
  height: 230px;
  float: right;
}
.read_oneplus {
  float: left;
  text-align: left;
}
.read_apple {
  
}
