#name {
  font-family: system-ui;
  text-align: center;
}
#Oneplus_Logo {
  width: 550px;
  height: 300px;
  float: left;
}
#Apple_logo{
  width: 230px;
  height: 260px;
  float: right;
}
.read_oneplus {
  float: left;
  text-align: left;
}
